*{
    margin:0;
    font-family: Arial;
    color : #ffffff;
}

body{
    background-color : #000036;
    
}

.navbar{
    height : 4vw;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0,0,100);
    margin : auto;
}
.intro{
    text-decoration: none;
}
.intro:hover{
    font-size: 1.02rem;
    font-weight: bold;
}

.profile-image{
    border-radius: 50%;
    margin : 25px 90px;
}
#Home{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.right{
    margin-top : 100px;
    font-size : 2.5rem;
    margin-left:20px;
}

.name{
    color : blueviolet;
}

button{
    margin:25px 80px;
    font-size: 1.4rem;
    padding : 30px;
    border-radius: 25%;
    background-color:rgb(30,30,180);
    font-weight: bold;
}
hr{
    margin : 50px;
    color: gray;
    border:1.5px solid;
}

#Projects{
    margin : 20px 60px;
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    color: gold;
}

.title{
    margin-top:10px;
    font-size: 1.5rem;
}
.desc{
    margin-left: 30px;
    font-size:1.1rem;
}

.button-source-code{
    font-size:1.1rem;
    background-color: rgb(30,30,180);
    margin: 0;
    padding: 15px;
    border-radius: 10%;
    margin-left:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Education{
    margin : 20px 60px;
}

footer{
    background-color: #0e0e1a;
    height : 133px;
}
#Contact-Me{
    display : flex;
    padding : 23px 123px;
}
